<!-- <img src="[fullCena]">
<img *ngIf="cena > 1" src="fullCena">
<img *ngIf="cena > 2" src="fullCena">
<img *ngIf="cena > 3" src="fullCena">
<img *ngIf="cena > 4" src="fullCena">
<img *ngIf="cena < 5" src="emptyCena">
<img *ngIf="cena < 4" src="emptyCena">
<img *ngIf="cena < 3" src="emptyCena">
<img *ngIf="cena < 2" src="emptyCena"> -->

<img src="{{fullIcon}}">
<img *ngIf="cena > 1" src="{{fullIcon}}">
<img *ngIf="cena > 2" src="{{fullIcon}}">
<img *ngIf="cena > 3" src="{{fullIcon}}">
<img *ngIf="cena > 4" src="{{fullIcon}}">
<img *ngIf="cena < 5" src="{{emptyIcon}}">
<img *ngIf="cena < 4" src="{{emptyIcon}}">
<img *ngIf="cena < 3" src="{{emptyIcon}}">
<img *ngIf="cena < 2" src="{{emptyIcon}}">
