<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">
        <h2>{{restoran?.name}}</h2>
        <span class="pull-right">
          <u>Address</u>
          <ul>
            <li>
              {{restoran?.location}}
            </li>
          </ul>
        </span>
        <p><u>Working Hours</u></p>
        <ul>
          <li *ngIf="restoran?.days[1]">
            Monday: {{restoran?.days[1].opens}} - {{restoran?.days[1].closes}}
          </li>
          <li *ngIf="restoran?.days[2]">
            Tuesday: {{restoran?.days[2].opens}} - {{restoran?.days[2].closes}}
          </li>
          <li *ngIf="restoran?.days[3]">
            Wednesday: {{restoran?.days[3].opens}} - {{restoran?.days[3].closes}}
          </li>
          <li *ngIf="restoran?.days[4]">
            Thursday: {{restoran?.days[4].opens}} - {{restoran?.days[4].closes}}
          </li>
          <li *ngIf="restoran?.days[5]">
            Friday: {{restoran?.days[5].opens}} - {{restoran?.days[5].closes}}
          </li>
          <li *ngIf="restoran?.days[6]">
            Saturday: {{restoran?.days[6].opens}} - {{restoran?.days[6].closes}}
          </li>
          <li *ngIf="restoran?.days[7]">
            Sunday: {{restoran?.days[7].opens}} - {{restoran?.days[7].closes}}
          </li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of menu?.items">
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
    </tr>
  </tbody>
</table>